/squelettes/
/plugins/
/lib/
/mutualisation/
/themes/
/extensions/
/sites/
/vendor/
/IMG/
!/IMG/.gitkeep
/config/
!/config/ecran_securite.php
/local/
!/local/.gitkeep
/tmp/
!/tmp/.gitkeep
/.htaccess
/composer.phar
/.project
/.buildpath
/.settings
/ecrire/
/plugins-dist/
/prive/
/squelettes-dist/
